body {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 10px 10px;
}

#aboutButton {
    position: absolute;
    top: 70px;
    left: 290px;
    transform: translateX(-50%);
    color: black;
    text-decoration: underline; /* Underline the text */
    border: none;
    background: none; /* Remove background */
    padding:10px; /* Remove padding */
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

img.center {
    max-width: 100%;
    height: auto;
}