.background-box {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    height: 134.5px;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: -1;
  }
body {
    font-family: Arial, sans-serif;
    margin: 1px;
    background-color: grey;
}
body {
    font-family: Arial, sans-serif;
    margin: 1px;
    background: url('images/sih_banner.jpg') no-repeat center center fixed;
    background-size: cover;
}

.header-image {
    width: 100px;
    height: auto;

}

.top-left-image {
    position: absolute;
    top: 20px;
    left: 12px;
    width: 500px;
    height: auto;
}

.top-right-image {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 170px;
    height: auto;
}
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  .googleForm {
  /*margin-left: auto;/*
  /*margin-right: auto;*/
  text-align: center;
}
  .member-section {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .member-section h3 {
    margin-top: 0;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  #registrationForm {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
