/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: url('images/sih_banner.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Header */
header {
    position: relative;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(248, 248, 248, 0.5); /* Transparent background */
}

/* Header Content */
.header-content {
    position: relative;
}

/* Top Images */
.logos-right {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 5px; /* Space between images */
    padding: 10px; /* Space around images */
    box-sizing: border-box;
}

.logo-left {
    width: 100px; /* Adjust size as needed */
    position: absolute;
    top: 0px;
    left: 0px;
}

.logo-right {
    width: 100px; /* Adjust size as needed */
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 0;
    gap: 20px; /* Space between elements */
}

nav .dropdown {
    position: relative;
    display: inline-block;
}

nav .dropbtn {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

nav .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav a {
    text-decoration: none;
    color: #4CAF50;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
}


/* Carousel */
.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
    color: #000;
}

/* Moving Board */
.marquee {
    background: #f8f8f8;
    padding: 10px;
}

/* Footer */
footer {
    background: url('images/sih_banner.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    padding: 10px 20px; /* Reduced padding for less height */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left, .footer-right {
    flex: 1;
}

.footer-left, .footer-right {
    text-align: left;
}
