body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: url('images/sih_banner.jpg') no-repeat center center fixed;
    background-size: cover;
}
header {
     background-color: rgba(248, 248, 248, 0.5); /* Use RGBA for transparency, adjust opacity as needed */
    padding: 5px 20px; /* Reduced padding for less height */
    text-align: center;
    position: relative;
    height: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-left {
    width: 125px;
}

header h1 {
    flex-grow: 1;
    margin: 0;
    font-size: 2em;
    text-align: center;
}

.logos-right {
    display: flex;
    gap: 10px;
}

.logo-right {
    width: 125px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #f8f8f8;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ddd;
}

.slider-padding {
    padding: 8px;
}

.marquee {
    background-color: black;
    text-color: white;
    text-decoration: bold;
    padding: 10px;
    text-align: center;
    font-size: 2.5em;
}

footer {
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left, .footer-right {
    flex: 1;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}
